black==23.11.0
boto3==1.33.6
botocore==1.33.6
click==8.1.7
jmespath==1.0.1
mypy-extensions==1.0.0
packaging==23.2
pathspec==0.11.2
platformdirs==4.0.0
PyPDF2==3.0.1
python-dateutil==2.8.2
s3transfer==0.8.2
six==1.16.0
urllib3==2.0.7
